.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}